html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

@media (max-width: 1038px) {
    html {
        font-size: 10px;
    }
}


body {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    box-sizing: border-box;
    background: #F5F5F5;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-style: normal;
    font-weight: 500;
    padding: 0.5vh;
    margin: 16px;
}

h2 {
    margin: 0;
    color: #000;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
}

@media (max-width: 1038px) {
    h1 {
        font-size: 3.5rem;
        line-height: 3.5rem
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem

    }
}

a, a:hover, a:active {
    all: unset;
    display: revert;
}


a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input, button, select, textarea {
    border: 0;
}

input:disabled {
    color: #ccc;
}


.btn {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 11px 30px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: rgba(0, 0, 0, 0.7);
}

.btn:disabled {
    background-color: #DDDDDD;
    color: rgba(0, 0, 0, 0.40)
}

.btn:disabled:hover {
    cursor: default;
}

.onboarding-h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    font-weight: 500;
    letter-spacing: -2px;
}

.question {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.content-box {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 55px;
}

.center-text {
    text-align: center;
}

.option-container {
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex;
}

.question-container{
    margin-top: 15px;
}


.option-box {
    margin-top: 5px;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
}

.option {
    padding: 12px 16px;
    background: white;
    border-radius: 8px;
    border: 1px #DDDDDD solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.option.selected {
    background: #D9D2FF;
    border: 1px #A693F3 solid;
}

.option-text {
    font-weight: 500;
    text-transform: uppercase;
}

.option-text:hover {
    cursor: pointer;
}

.next-button {
    padding: 16px 30px;
    width:100%;
    max-width: 335px;
    position: fixed;
    bottom: 15px
}


.input-container {
    margin-top: 15px;
    width: 100%;
    height: 86px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.input-box {
    margin-top: 5px;
    align-self: stretch;
    padding: 15px 16px;
    background: white;
    border-radius: 12px;
    border: 1px #DDDDDD solid;
    display: inline-flex;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.input-icon {
    padding-right: 8px;
    align-items: center;
    display: flex;
}

.uppercase{
    text-transform: uppercase;
}

form {
    display: flex;
}